<mat-toolbar color="primary">Usuarios</mat-toolbar>

<div fxLayout="row wrap" fxLayoutGap="20px">

  <div fxFlex="0 0 calc(100% - 20px)" fxFlex.md="0 0 calc(50% - 20px)" 
  fxFlex.gt-md="0 0 calc(33% - 20px)" *ngFor="let u of data">

    <mat-card>
      <mat-card-header>
        <mat-card-title>{{u.nombre}}</mat-card-title>
        <mat-card-subtitle>{{u.email}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{u.img}}">      
      <mat-card-actions>
        <button mat-button>Eliminar</button>
      </mat-card-actions>      
    </mat-card>


  </div>

</div>

<div class="fab-position">
  <button mat-fab>
      <mat-icon>add</mat-icon>
  </button>
</div>