@import 'theme/_dimens.scss';
@import 'theme/_layout.scss';
@import 'theme/_theme.scss';

.fab-position{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.breadcrumb{
    padding-top: $dimen-medium;
    padding-bottom: $dimen-medium;
}

.breadcrumb > span{
    margin-left: $dimen-medium;
}